@model AppliancesApp.Models.DbModels.Appliance
<html>
<body>
    <div class="Column">
        @using (Ajax.BeginForm("UpdateAppliance", new AjaxOptions { OnSuccess = "alert('succes')" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id, new { id = "Id" })
            <div>
                @Html.LabelFor(model => model.Name)
                <p>@Html.EditorFor(model => model.Name, new { id = "Name" })</p>
            </div>
            <div>
                @Html.LabelFor(model => model.Price)
                <p>@Html.EditorFor(model => model.Price, new { id = "Price" })</p>
            </div>
            <div>
                @Html.LabelFor(model => model.CreateDate)
                <p>@Html.EditorFor(model => model.CreateDate, new { id = "CreateDate", @class = "form-control" })</p>
            </div>
            <div>

                @{ if (ViewBag.restricts[nameof(Model.Description)] != true)
                    {
                        @Html.LabelFor(model => model.Description)
                        <p>@Html.EditorFor(model => model.Description, new { id = "Description" })</p>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Description)
                    }
                }
            </div>
            <div>
                @{ if (ViewBag.restricts[nameof(Model.IsInStock)] != true)
                    {
                        @Html.LabelFor(model => model.IsInStock)
                        <p>@Html.EditorFor(model => model.IsInStock, new { id = "IsInStock" })</p>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.IsInStock)
                    }
                }
            </div>
            <div>
                @{ if (ViewBag.restricts[nameof(Model.Attachment)] != true)
                    {
                        @Html.LabelFor(model => model.Attachment)
                        <p>@Html.EditorFor(model => model.Attachment, new { id = "Attachment" })</p>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.IsInStock)
                    }
                }
            </div>
            <div>
                <p><input value="Save" type="submit" id="saveButton" /></p>
            </div>
                    }
    </div>

</body>
</html>

<script>
    $(function () {
        $('#CreateDate').datetimepicker();
    });
</script>