@model IEnumerable<AppliancesApp.Models.DbModels.Appliance>


<div id="list">
    <h2>List</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("change", "Edit", new { id = item.Id },
            new { @class = "viewDialog", data_dialog_title = "Редактирование техники" }) 
                </td>

            </tr>
        }

    </table>

    <div id="messages_about_list" class="hide" role="alert">
        <button type="button" class="close" onclick="$('#messages_about_list').hide()"><span aria-hidden="true">&times;</span></button>
        <div id="messages_list_content"></div>
    </div>


</div>

<script>

    function showList() {
        $.ajax({
            url: "/Home/GetAllAppliances",
            type: "GET",
            success: function (data) {
                $("#list").html(data);
                $('#messages_about_list').removeClass('hide').addClass('alert alert-success').slideDown().show();
                $('#messages_list_content').html('<h4>List Updated</h4>');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("An error has occurred making the request: " + errorThrown)
            }

        });
    }

    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    maxWidth: 300,
                    maxHeight: 400,
                    width: 300,
                    height: 400,
                    title: $(this).attr("data-dialog-title"),
                    buttons: {
                        "Save": function () {
                            $('#form0').submit();
                        },
                        "Cancel": function () {
                            $(this).remove();
                            //$(this).dialog("close");

                        }
                    },
                    close: function () {
                        $('#messages_about_list').removeClass('hide').addClass('alert alert-info').slideDown().show();
                        $('#messages_list_content').html('<h4>Edit Dialog Closed</h4>');
                        $(this).remove();
                    },
                    modal: true
                })
                .load(this.href);
        });
    });
</script>
