
@{
    ViewBag.Title = "SystemSettings";
}

<h2>SystemSettings</h2>

<div>
    <div>
        <p>@nameof(ViewBag.Name)</p>
    </div>
    <div>
        <p>>@nameof(ViewBag.CreateDate)</p>
    </div>
    <div>
        <p>@Html.DisplayNameFor(model => model.Price)</p>
    </div>
    <div>
        <p>@Html.DisplayNameFor(model => model.Description)</p>
    </div>
    <div>
        <p>@Html.DisplayNameFor(model => model.IsInStock)</p>
    </div>
    <div>
        <p>@Html.DisplayNameFor(model => model.Attachment)</p>
    </div>
</div>
