@model List<AppliancesApp.Models.DbModels.ApplianceRestriction>
@{
    ViewBag.Title = "SystemSettings";
}

<h2>SystemSettings</h2>

<div id="messages_info" class="hide" role="alert">
    <button type="button" class="close" onclick="$('#messages_info').hide()"><span aria-hidden="true">&times;</span></button>
    <div id="messages_info_content"></div>
</div>

@using (Ajax.BeginForm("UpdateRestricts", "Manage", new { }, new AjaxOptions { OnSuccess = "OnSuccess();" }, new { enctype = "multipart/form-data" }))
{
    <body>
        <div>
            <div>
                <p>@nameof(ViewBag.Name)</p>
            </div>
            <div>
                <p>@nameof(ViewBag.CreateDate)</p>
            </div>
            <div>
                <p>@nameof(ViewBag.Price)</p>
            </div>
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.HiddenFor(m => m[i].Id)
                @Html.HiddenFor(m => m[i].Name)
                <div>
                    <p>
                        @Html.DisplayTextFor(m => m[i].Name)
                        @Html.CheckBoxFor(m => m[i].IsHidden)
                    </p>
                </div>
            }
            <input type="submit" value="Save" />
        </div>
    </body>
}
<script>
    function OnSuccess() {
        $('#messages_info').removeClass('hide').addClass('alert alert-success').slideDown().show();
        $('#messages_info_content').html('<h4>System settings saved successfully </h4>');
        $('#messages_info').slideUp(1500, function () {
        });
    }
</script>